# Byte-compiled / optimized / DLL files
__pycache__

# data
*.csv

#vscode
/.vscode
.vscode

# MacOS
.DS_Store

# For somebody who try to upload key file.. :)
key

# environment
*.env

# hydra log outputs
outputs

# wandb log outputs
wandb

# catboost log outputs
catboost_info