# Byte-compiled / optimized / DLL files
__pycache__

# data
*.csv
*.tsv

#vscode
/.vscode

# MacOS
.DS_Store

# For somebody who try to upload key file.. :)
key

# environment
*.env

# hydra outputs
/outputs

# wandb outputs
/wandb
